<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
</head>
<body>
    <h1>Registro</h1>
    <form method="POST" action="">{% csrf_token %}
        {{el_form.as_p}}
        <input type='submit' value="Registrame"/>
    </form>
</body>
</html>